body, html {
  height: 100%;
}

/* Background */
body {
  background-image: url("background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main elements */
.row {
  background-color: red;
  text-align: center;
}
