/* FULL HTML CONTENT */
body, html, header, .view {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 1rem;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.view .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.view {
  background-image: url('../images/background.jpeg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}


/* NAVBAR CONTENT */
.navnbar-nav {
  list-style: none;
}

.nav-link {
  padding: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.top-nav-collapse {
  background-color: #575859 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #575859 !important;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* Lander */ 
h1 {
  letter-spacing: 6px;
  font-size: 2.5rem;
}

h5 {
  letter-spacing: 4px;
}

.landerText {
  color: white;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 180px;
}

.sectionHeaders {
  color: black;
  letter-spacing: 8px;
}

/* MAIN CONTENT */
.mainText {
  font-size: 20px;
}

.langList {
  font-size: 20px;
  padding-left: 30px;
}